
.moviePage {
  color: var(--color-text);
  background-color: var(--color-background);
}

.overview {
  margin-top: 1rem;
  line-height: 1.6;
  color: var(--color-accent);
}

.popularity {
  color: var(--color-neutral);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.year {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 1.45rem;
}