
.moviePage {
  color: var(--color-text);
  background-color: var(--color-background);
}

.overview {
  margin-top: 1rem;
  line-height: 1.6;
  color: var(--color-accent);
}

.popularity {
  color: var(--color-neutral);
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.year {
  color: rgba(255, 255, 255, 0.6) !important;
  font-size: 1.45rem;
}
.movie-title {
  font-family: 'Eighties Horror';
  text-transform: uppercase !important;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: #e61c6f;
}