-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."ContributionSection" AS ENUM ('HORROR_LEGACY', 'COLLECTOR_MARKET', 'MEMORABILIA', 'CULT_STATUS', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."ContributionStatus" AS ENUM ('DRAFT', 'PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "public"."UserRole" AS ENUM ('USER', 'MODERATOR', 'ADMIN');

-- CreateTable
CREATE TABLE "public"."Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Actor" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "profilePath" TEXT,
    "imagekitProfilePath" TEXT,
    "imagekitProfileFileId" TEXT,
    "actorNameSanitized" TEXT NOT NULL,

    CONSTRAINT "Actor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AiDescription" (
    "id" TEXT NOT NULL,
    "synopsis" TEXT,
    "funFacts" TEXT,
    "productionContext" TEXT,
    "reception" TEXT,
    "movieId" TEXT NOT NULL,

    CONSTRAINT "AiDescription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CastMember" (
    "id" SERIAL NOT NULL,
    "character" TEXT NOT NULL,
    "movieId" TEXT NOT NULL,
    "actorId" INTEGER NOT NULL,
    "castOrder" INTEGER,

    CONSTRAINT "CastMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CollectorDescription" (
    "id" TEXT NOT NULL,
    "movieId" TEXT NOT NULL,
    "hook" TEXT NOT NULL,
    "identity" TEXT NOT NULL,
    "collectorFocus" TEXT NOT NULL,
    "context" TEXT NOT NULL,

    CONSTRAINT "CollectorDescription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Contribution" (
    "id" TEXT NOT NULL,
    "movieId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "section" "public"."ContributionSection" NOT NULL,
    "title" TEXT,
    "body" TEXT NOT NULL,
    "status" "public"."ContributionStatus" NOT NULL DEFAULT 'PENDING',
    "upvotes" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contribution_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ContributionVote" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "contributionId" TEXT NOT NULL,

    CONSTRAINT "ContributionVote_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."CrewMember" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "job" TEXT NOT NULL,
    "movieId" TEXT NOT NULL,

    CONSTRAINT "CrewMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DiscogItem" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "year" INTEGER,
    "format" JSONB NOT NULL,
    "thumb" TEXT,
    "uri" TEXT NOT NULL,
    "queryId" TEXT NOT NULL,

    CONSTRAINT "DiscogItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."DiscogQuery" (
    "id" TEXT NOT NULL,
    "query" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "DiscogQuery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EbayItem" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "priceValue" TEXT NOT NULL,
    "priceCurrency" TEXT NOT NULL,
    "imageUrl" TEXT NOT NULL,
    "itemUrl" TEXT NOT NULL,
    "listingEndDate" TIMESTAMP(3),
    "queryId" TEXT NOT NULL,

    CONSTRAINT "EbayItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EbayQuery" (
    "id" TEXT NOT NULL,
    "movieId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EbayQuery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EbayToken" (
    "id" SERIAL NOT NULL,
    "token" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EbayToken_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."HFSuggestion" (
    "id" TEXT NOT NULL,
    "movieId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "HFSuggestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Movie" (
    "id" TEXT NOT NULL,
    "tmdbId" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "releaseDate" TEXT,
    "overview" TEXT NOT NULL,
    "posterPath" TEXT,
    "imagekitPosterPath" TEXT,
    "popularity" DOUBLE PRECISION NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "slug" TEXT,

    CONSTRAINT "Movie_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."MovieRating" (
    "id" TEXT NOT NULL,
    "movieId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "value" INTEGER NOT NULL,

    CONSTRAINT "MovieRating_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StreamingOption" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "quality" TEXT,
    "link" TEXT,
    "serviceName" TEXT,
    "queryId" TEXT NOT NULL,

    CONSTRAINT "StreamingOption_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StreamingQuery" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "releaseYear" INTEGER NOT NULL,
    "country" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "StreamingQuery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" TEXT NOT NULL,
    "name" TEXT,
    "email" TEXT,
    "emailVerified" TIMESTAMP(3),
    "image" TEXT,
    "role" "public"."UserRole" NOT NULL DEFAULT 'USER',
    "consentPrivacy" BOOLEAN NOT NULL DEFAULT false,
    "consentNewsletter" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "public"."YouTubeQuery" (
    "id" TEXT NOT NULL,
    "query" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "YouTubeQuery_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."YouTubeVideo" (
    "id" TEXT NOT NULL,
    "youtubeId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "thumbnail" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "queryId" TEXT NOT NULL,

    CONSTRAINT "YouTubeVideo_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."_SuggestedMovies" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,

    CONSTRAINT "_SuggestedMovies_AB_pkey" PRIMARY KEY ("A","B")
);

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "public"."Account"("provider" ASC, "providerAccountId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Actor_actorNameSanitized_key" ON "public"."Actor"("actorNameSanitized" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Actor_name_key" ON "public"."Actor"("name" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "AiDescription_movieId_key" ON "public"."AiDescription"("movieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "CollectorDescription_movieId_key" ON "public"."CollectorDescription"("movieId" ASC);

-- CreateIndex
CREATE INDEX "Contribution_movieId_idx" ON "public"."Contribution"("movieId" ASC);

-- CreateIndex
CREATE INDEX "Contribution_status_idx" ON "public"."Contribution"("status" ASC);

-- CreateIndex
CREATE INDEX "Contribution_userId_idx" ON "public"."Contribution"("userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "ContributionVote_userId_contributionId_key" ON "public"."ContributionVote"("userId" ASC, "contributionId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "DiscogQuery_query_key" ON "public"."DiscogQuery"("query" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "EbayQuery_movieId_key" ON "public"."EbayQuery"("movieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "HFSuggestion_movieId_key" ON "public"."HFSuggestion"("movieId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Movie_slug_key" ON "public"."Movie"("slug" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Movie_tmdbId_key" ON "public"."Movie"("tmdbId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "MovieRating_movieId_userId_key" ON "public"."MovieRating"("movieId" ASC, "userId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "public"."Session"("sessionToken" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "StreamingQuery_title_releaseYear_country_key" ON "public"."StreamingQuery"("title" ASC, "releaseYear" ASC, "country" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "public"."VerificationToken"("identifier" ASC, "token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "public"."VerificationToken"("token" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "YouTubeQuery_query_key" ON "public"."YouTubeQuery"("query" ASC);

-- CreateIndex
CREATE INDEX "_SuggestedMovies_B_index" ON "public"."_SuggestedMovies"("B" ASC);

-- AddForeignKey
ALTER TABLE "public"."Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."AiDescription" ADD CONSTRAINT "AiDescription_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CastMember" ADD CONSTRAINT "CastMember_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES "public"."Actor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CastMember" ADD CONSTRAINT "CastMember_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CollectorDescription" ADD CONSTRAINT "CollectorDescription_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contribution" ADD CONSTRAINT "Contribution_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Contribution" ADD CONSTRAINT "Contribution_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ContributionVote" ADD CONSTRAINT "ContributionVote_contributionId_fkey" FOREIGN KEY ("contributionId") REFERENCES "public"."Contribution"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ContributionVote" ADD CONSTRAINT "ContributionVote_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CrewMember" ADD CONSTRAINT "CrewMember_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."DiscogItem" ADD CONSTRAINT "DiscogItem_queryId_fkey" FOREIGN KEY ("queryId") REFERENCES "public"."DiscogQuery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EbayItem" ADD CONSTRAINT "EbayItem_queryId_fkey" FOREIGN KEY ("queryId") REFERENCES "public"."EbayQuery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EbayQuery" ADD CONSTRAINT "EbayQuery_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."HFSuggestion" ADD CONSTRAINT "HFSuggestion_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MovieRating" ADD CONSTRAINT "MovieRating_movieId_fkey" FOREIGN KEY ("movieId") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."MovieRating" ADD CONSTRAINT "MovieRating_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StreamingOption" ADD CONSTRAINT "StreamingOption_queryId_fkey" FOREIGN KEY ("queryId") REFERENCES "public"."StreamingQuery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."YouTubeVideo" ADD CONSTRAINT "YouTubeVideo_queryId_fkey" FOREIGN KEY ("queryId") REFERENCES "public"."YouTubeQuery"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_SuggestedMovies" ADD CONSTRAINT "_SuggestedMovies_A_fkey" FOREIGN KEY ("A") REFERENCES "public"."HFSuggestion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."_SuggestedMovies" ADD CONSTRAINT "_SuggestedMovies_B_fkey" FOREIGN KEY ("B") REFERENCES "public"."Movie"("id") ON DELETE CASCADE ON UPDATE CASCADE;

